In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import networkx as nx

In [12]:
nodes = pd.read_csv('cleaned_top_ingreds.csv')
nodes = nodes.drop('Unnamed: 0', axis=1)
edges = pd.read_csv('filtered_pairs.csv')
edges = edges.drop('Unnamed: 0', axis=1)

In [13]:
nodes.head()

  ingredient   total  recipes
0     butter  421929    36975
1     garlic  384999    32539
2      sugar  383695    31492
3  olive oil  377461    32429
4        egg  257308    24435

In [14]:
edges.head()

,pairs,counts,ingred1,ingred2
0,"('all-purpose flour', 'almond')",657,all-purpose flour,almond
1,"('all-purpose flour', 'baking powder')",6721,all-purpose flour,baking powder
2,"('all-purpose flour', 'baking soda')",5199,all-purpose flour,baking soda
3,"('all-purpose flour', 'balsamic vinegar')",141,all-purpose flour,balsamic vinegar
4,"('all-purpose flour', 'basil')",466,all-purpose flour,basil